*{
    margin: 0;
    padding: 0;
    border: 0;
}
body{
    background-color: #080808;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}
.container{
    margin: 59px 200px;
    max-width: 1600px;
    color: rgb(255, 255, 255);
    font-family: 'Raleway', sans-serif;
    font-variant-numeric: lining-nums;
    font-feature-settings: 'lnum';
    -moz-font-feature-settings: 'lnum=1';
    -ms-font-feature-settings: 'lnum';
    -webkit-font-feature-settings: 'lnum';
    -o-font-feature-settings: 'lnum';
    box-sizing: border-box;
}
a:hover, button:hover, label:hover{
    opacity: 0.6;
}
.warning a:hover{
    opacity: 1;
}
.phone{
    color: #A1A1A1;
    margin-right: 20px;
}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button{
    display: none;
    -webkit-appearance: none;
    margin: 0;
}
input[type=number]{
    -moz-appearance: textfield;
}
.menu{
    display: none;
}
button, a{
    cursor: pointer;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding-bottom: 14px;
    border-bottom: 2px solid #9B9B9B;
}
.navbar{
    display: flex;
    flex-direction: row;
    margin-left: 26px;
    letter-spacing: 1.5px;
    font-weight: 700;
}
a{
    text-decoration: none;
    color: #FFFFFF;
}
.navbar__item{
    margin-right: 29px;
}
footer{
    display: flex;
    flex-wrap: wrap;
    margin-top: 138px;
    padding-bottom: 50px;
    line-height: 200%;
    border-top: 2px solid #9B9B9B;
    padding-top: 20px;
    line-height: 260%;
}
.footer__content{
    display: flex;
}
footer .social{
    display: flex;
    width: 114px;
    justify-content: space-between;
    margin-bottom: 25px;
}
.footer__logo{
    width: 100%;
    margin-bottom: 30px;
}
.footer__navigation{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 270px;
    margin-top: -13px;
    margin-bottom: 18px;
}
.footer__navigation_item{
    margin-right: 22.5px;
}
.documents p{
    cursor: pointer;
}
.right p{
    margin-top: -3px;
}
.column{
    /* width: 35.625vw; */
        width: 46%;
}
.right{
    font-weight: 700;
    letter-spacing: 1.5px;
}
.mark{
    margin-top: 15px;
    font-weight: 400;
    letter-spacing: 0.3px;
}
.atank{
    display: flex;
    align-items: center;
    margin-top: 18px;
}
.atank img{
    margin-right: 15.5px;
    margin-top: -2px;
}
.block{
    display: flex;
    flex-direction: column;
}
.block1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 138px;
    position: relative;
}
.buildings{
    width: 35.625vw;
}
.page_heading{
    font-size: 4vw;
    font-weight: 600;
    line-height: 192%;
}
.block1__text{
    margin-right: 40px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    justify-content: flex-start;
}
.block1__text_content{
    margin-top: -21px;
    letter-spacing: 3.5px;
}
.reverse{
    direction: rtl;
    width: 100%;
}
.center{
    text-align: center;
}
.block1__footer{
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-end;
    line-height: 100%;
    bottom: 0;
}
.block1__footer_social{
    width: 120px;
    display: flex;
    justify-content: space-between;
}
.tariffs{
    display: flex;
    align-items: center;
    font-size: 18px;
    line-height: 100%;
    font-weight: 700;
    letter-spacing: 1px;
    cursor: pointer;
}
.text1{
    display: block;
    width: 23.125vw;
    margin-left: 4px;
    margin-bottom: 49px;
    color: #A1A1A1;
}
.text1 h1{
    font-weight: 100;
    font-size: 48px;
    margin-bottom: 15px;
    color: rgb(255, 255, 255);
    letter-spacing: 2px;
}
.block2{
    flex-direction: row;
    justify-content: space-between;
    margin-top: 200px;
}
.text2__content{
    font-weight: 400;
    margin-bottom: 20px;
    color: #FFFFFF;
    width: 35.625vw;
}
.emphasize{
    font-size: 28px;
    color: rgb(255, 255, 255);
    margin-bottom: 23px;
    letter-spacing: 2px;
}
.block3{
    flex-direction: column;
    margin-top: 148px;
}
.title{
    font-size: 48px;
    font-weight: 400;
    letter-spacing: 3px;
}
.block3{
    margin-top: 150px;
}
.block3 .title{
    margin-bottom: 24px;
}
.chevrons{
    display: none;
}
.arrows{
    width: 72px;
    display: flex;
    justify-content: space-between;
}
.arrow{
    background: url(./assets/icons/arrow.svg);
    display: block;
    height: 24px;
    width: 24px;
}
#arrow_left{
    transform: rotate(-180deg);
}
.slider{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    position: relative;
    min-width: 286px;
}
.slider__head{
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #FFFFFF;
    font-weight: 700;
    padding-bottom: 5px;
    margin-bottom: 21.5px;
}
.floors{
    display: flex;
    width: 210px;
    justify-content: space-between;
    letter-spacing: 2px;
    align-items: center;
}
.floors_mobile{
    display: none;
}
.slider__content{
    width: 76.267vw;
    min-width: 200px;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
    overflow-x: scroll;
    /* scroll-snap-type: mandatory;
                    scroll-snap-align: center; */
    scroll-behavior: smooth;
    scrollbar-width: none;
}
.slider__content::-webkit-scrollbar{
    width: 0;
}
.slide img{
    max-height: 378px;
}
.block4{
    margin-top: 200px;
}
.block4 .title{
    margin-bottom: 48px;
}
.block4__content{
    display: flex;
    justify-content: space-between;
}
.block4__text{
    padding-left: 60px;
    margin-top: -25px;
    display: flex;
}
.services{
    width: 36.063vw;
}
.frames{
    display: flex;
    flex-direction: column;
    width: 32.500vw;
}
.frame{
    font-weight: 400;
    color: #A1A1A1;
    padding-bottom: 22px;
    padding-top: 25px;
}
.frame__title{
    font-size: 28px;
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 17px;
}
.block4__text .underline{
    color: #FFFFFF;
    border-bottom: 2px solid #FFFFFF;
    border-top: 2px solid #FFFFFF;
}
ul{
    list-style: none;
}
.block4 .arrows{
    display: flex;
    flex-direction: column;
    height: 74px;
    width: 24px;
    margin-top: 221px;
    margin-left: auto;
}
.block4 .arrows .up{
    transform: rotate(-90deg);
}
.down{
    transform: rotate(90deg);
}
.block5{
    margin-top: 173px;
}
.block5__column{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.block5_img{
    width: 100%;
}
.block5__text{
    width: 34.188vw;
    margin-bottom: 35px;
}
.block5 .title{
    margin-bottom: 47px;
}
.block5__content{
    display: flex;
    justify-content: space-between;
}
input{
    font-family: 'Raleway', sans-serif;
}
.block5_input{
    border-bottom: 1px solid #9B9B9B;
    display: flex;
    justify-content: space-between;
    margin-bottom: 23px;
    position: relative;
}
.input_chevron{
    position: absolute;
    bottom: 18px;
    right: 0;
    height: 7px;
}
.date input::-webkit-calendar-picker-indicator{
    z-index: 1;
    opacity: 0;
    cursor: pointer;
}
.time input::-webkit-calendar-picker-indicator{
    z-index: 1;
    opacity: 0;
    cursor: pointer;
}
.block5_input input::placeholder{
    color: #FFFFFF;
}
input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus { -webkit-text-fill-color: #FFFFFF; transition: background-color 5000s ease-in-out 0s;}
.last{
    margin-bottom: 9px;
}
.block5_input input{
    outline: none;
    color: #FFFFFF;
    background-color: transparent;
    font-size: 18px;
    height: 49px;
    width: 100%;
}
.date_and_time{
    display: flex;
    flex-direction: row;
}
.date{
    margin-right: 40px;
    width: 100%;
}
.time{
    width: 100%;
}
.invalid{
    border-bottom: 1px solid #B50000;
}
.error{
    position: absolute;
    bottom: -25px;
    font-size: 12px;
    color: #B50000;
}
.form{
    margin-top: -14px;
    display: flex;
    flex-direction: column;
}
.form_button{
    margin-top: 49px;
    width: 230px;
    color: #FFFFFF;
    display: flex;
    background-color: transparent;
    align-items: flex-start;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1.35px;
}
.warning{
    font-size: 12px;
}
.form_checkbox{
    margin-top: 6px;
    padding-left: 24px;
}
#checkbox_button{
	position: absolute;
	z-index: -1;
	opacity: 0;
}
#checkbox_button + label {
	position: relative;
	cursor: pointer;
}
#checkbox_button + label:before {
	content: '';
	position: absolute;
	top: 1px;
	left: -20px;
	width: 10px;
	height: 10px;
    border: 1px solid #FFFFFF;
}
#checkbox_button + label:after {
	content: '';
	position: absolute;
	top: 0px;
    left: -17.5px;
	width: 6px;
	height: 9px;
    border-right: 1px solid #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
    transform: rotate(45deg);
    opacity: 0;
}
#checkbox_button:checked + label:after {
    opacity: 1;
    transition: .2s;
}
.block{
    opacity: 0;
}
.show {
    opacity: 1;
    transition: all 1s;
    transform: translateY(0%);
}
.hidden{
    display: none;
}
.nav_mobile{
    display: none;
}
.yandex{
    background: url(./assets/icons/yandex.svg);
    display: block;
    width: 24px;
    height: 24px;
}
.youtube{
    background: url(./assets/icons/youtube.svg);
    display: block;
    width: 24px;
    height: 24px;
}
.vk{
    background: url(./assets/icons/vk.svg);
    display: block;
    width: 24px;
    height: 24px;
}
.yandex:hover, .youtube:hover, .vk:hover{
    opacity: 0.6;
}

.chevron{
    display: none;
}
/* tariffs */
.heading{
    width: 100%;
}
.tariffs_block1, .tariffs_block3, .booking_block1_row, .booking_block3{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.tariffs_block1{
    margin-top: 114px;
}
.tariffs_block1 .heading{
    margin-bottom: 23px;
}
.tariffs_block1 img{
    width: 100%;
    max-width: 570px;
}
.tariffs_block1 .column{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.tariffs_block2{
    margin-top: 100px;
}
.tariffs_slider_menu{
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid #9B9B9B;
    padding-bottom: 22px;
    margin-bottom: 48px;
}
.tariffs_slider_menu_mobile{
    display: none;
}
.tariffs_slider_content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70.5vw;
}
.tariffs_slider_menu_item{
    margin-right: 81px;
}
.tariffs_slider_body{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.tariffs_slide{
    width: 31.125vw;
}
.tariffs_slide img{
    width: 31.125vw;
}
.book_btn{
    display: flex;
    flex-direction: row;
    margin-top: 36px;
}
.tariffs_slide_ul, .booking_block1_ul{
    list-style: disc;
    margin-left: 27px;
}
.tariffs_slider_indicator{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    cursor: pointer;
    width: 40px;
    height: 630px;
}
.tariffs_slider_dots{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 24.5px;
    margin-bottom: 10.5px;
    margin-right: 5px;
    display: flex;
}
.tariffs_slider_dot{
    width: 14px;
    height: 14px;
    background-color: #3D3D3D;
    margin-bottom: 14px;
}
.tariffs_slider_toTheLeft{
    transform: rotate(180deg);
}
.tariffs_slider_dot_active{
    background-color: #FFFFFF;
}
.little{
    font-size: 18px;
}
.excurssions_btn{
    display: flex;
    flex-direction: row;
}
.tariffs_block3{
    margin-top: 200px;
}
.tariffs_block3 .heading{
    margin-bottom: 48px;
    font-size: 48px;
}
.tariffs_block3_text{
    margin-bottom: 21px;
}
.tariffs_form_image, .booking_form_image{
    width: 100%;
}
.tariffs_form_image{
    margin-top: 36px;
}
.price{
    font-size: 24px;
    margin-top: 24px;
}
.tariffs_slide_heading{
    font-size: 28px;
    font-weight: 600;
    margin-top: 31px;
    margin-bottom: 25px;
}
/* //booking */
.booking_block1{
    margin-top: 138px;
}
.booking_block1_img{
    width: 100%;
}
.booking_block1_text{
    margin-top: 47px;
}
.booking_block1_ul{
    margin-top: 21px;
    margin-bottom: 25px;
}
.booking_block3_text p{
    margin-bottom: 21px;
}
.booking_form_image{
    margin-top: 15px;
}
.bold{
    font-weight: 700;
}
/* ///// documents */
.documents_block1 .page_heading{
    margin-top: 94px;
}
.documents_block1_content{
    margin-top: -12px;
    margin-bottom: 58px;
}

.documents_item{
    height: 94px;
    width: 100%;
    border-bottom: 2px solid #9B9B9B;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.documents_block1_content .last{
    border-bottom: none;
}
.documents_download_btn{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.documents_download_btn .arrow{
    margin-left: 10px;
}
/* //// privacy */
.privacy_block1 .page_heading{
    margin-top: 111px;
    margin-bottom: 25px;
}
.privacy_block1_content div{
    margin-bottom: 20px;
}
/* //////// news */
.news_block1{
    border-bottom: 2px solid #9B9B9B;
}
.news_page_content{
    font-weight: 400;
}
.news_item{
    border-top: 2px solid #9B9B9B;
    display: flex;
    flex-direction: row;
    padding-top: 15px;
    padding-bottom: 15px;
}
.news_item_img{
    height: 100%;
}
.news_item_text{
    margin-left: 20px;
}
.news_item_date{
    font-size: 12px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.news_item_heading{
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 30px;
}
.news_item_content{
    margin-bottom: 30px;
    font-size: 18px;
}
.read_more{
    display: flex;
    flex-direction: row;
    font-weight: 700;
    margin-bottom: 30px;
}
.news_pages{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
    justify-self: center;
    width: 200px;
    margin: 30px auto;
}
.toTheLeft{
    transform: rotate(180deg);
}
/* ///// article */
.article_main_img{
    width: 100%;
}
.article_date{
    font-size: 12px;
    font-weight: 500;
    margin: 30px 0px 30px 0px;
}
.article_content p{
    margin-top: 30px;
}
.article_heading{
    font-size: 48px;
    font-weight: 500;
}
.article_content{
    font-weight: 400;
}
.article_emphasize{
    font-size: 28px;
    font-weight: 500;
}
.article_content ul{
    list-style: disc;
    margin-left: 25px;
}
.article_block2{
    margin-top: 200px;
}
.article_block2_heading{
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 20px;
}
.recommendations_first{
    border-top: none;
}
.article_block2_recommendations .news_item img{
    height: 305px;
}
.article_block2_recommendations .news_item_date{
    margin-top: 0px;
}
/* /////// contacts */
.contacts_block1{
    display: flex;
    flex-direction: column;
}
.contacts_block1_text {
    font-weight: 400;
    margin-top: 52px;
    display: flex;
    flex-direction: row;
    height: 168px;
}
.contacts_block1_text_address{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    font-size: 28px;
    font-weight: 500;
}
.contacts_block1_text_contacts{
    padding-left: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
}
.official_name{
    font-size: 12px;
    font-weight: 500;
}
.contacts_block1_map{
    margin-top: 117px;
    margin-bottom: 20px;
}
.contacts_block1_map img{
    width: 100%;
}
.contacts_block2 p{
    margin-top: 20px;
}
.video_instruction{
    width: 100%;
}
.contacts_block2{
    font-weight: 700;
    margin-top: 260px;
}
/* // 404 */
.error_block{
    display: flex;
    flex-direction: row;
}
.error_block_left, .error_block_right{
    width: 50%;
}
.error_block_left{
    font-size: 290px;
    font-size: 18.125vw;
    font-weight: 500;
}
.error_block_right{
    padding-left: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.error_block_right p{
    font-size: 28px;
}
.goBack_button{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}


@media (max-width:900px) {
    .container{
        width: 100%;
        overflow: hidden;
        min-width: 300px;
        margin: 70px 20px 10px 20px;
    }
    .block1__content, .block1, .block3__content, .block4__content, .block5__content, .footer__content{
        flex-direction: column;
        width: 100%;
    }
    .block1, .block2, .block5__column, .block2__content{
        display: flex;
        flex-direction: column-reverse;
    }
    header .navbar, .phone{
        display: none;
    }
    header{
        position: relative;
        border-bottom: none;
        margin-bottom: 50px;
        padding-bottom: 0px;
        height: 35px;
    }
    .menu{
        display: block;
        background-color: transparent;
    }
    .column{
        width: 335px;
    }
    .buildings{
        width: 100%;
    }
    .column{
        width: 100%;
    }
    .block1{
        margin-top: 40px;
    }
    .page_heading{
        width: 100%;
        font-size: 39px;
    }
    /* .block1__text{
        font-size: 39px;
    } */
    .block1__text_content{
        width: 100%;
        letter-spacing: 1px;
        margin-top: 15px;
        line-height: 195%;
    }
    .block1__text{
        /* width: 100%; */
        padding-right: 0;
    }
    .block1__footer{
        position: relative;
        flex-direction: column-reverse;
        justify-content: flex-start;
        align-items: flex-start;
        margin-top: 44px;
    }
    .block1__footer_social{
        margin-top: 61px;
        width: 140px;
    }
    .title{
        font-size: 39px;
        font-weight: 600;
    }
    .block2{
        margin-top: 100px;
    }
    .text2__content{
        width: 100%;
    }
    .text1{
        width: 320px;
        width: 85.33vw;
        color: rgb(255, 255, 255);
        margin-bottom: 32px;
        margin-left: 0;
    }
    .text2 .emphasize{
        width: 275px;
        margin-bottom: 30px;
    }
    .text1 h1{
        font-size: 24px;
    }
    .slider__head{
        margin-bottom: 30px;
        padding-bottom: 32px;
    }
    .floors{
        display: none;
    }
    .floors_mobile{
        display: block;
        /* font-size: 18px; */
        font-weight: 700;
        letter-spacing: 0.5px;
        position: relative;
    }
    details{
        outline: none;
    }
    summary{
        outline: none;
    }
    summary::-webkit-details-marker,
    summary::marker{
        display: none;
    }
    .accordeon__title{
        display: flex;
        align-items: center;
    }
    .floor{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100px;
    }
    .block3 .title{
        margin-bottom: 32px;
    }
    .slider__head .arrows{
        display: none;
    }
    .floor:nth-child(2){
        display: none;
    }
    .text2{
        margin-bottom: 61px;
    }
    .block3{
        margin-top: 65px;
    }
    .slider__content{
        display: flex;
        justify-content: center;
        height: 66.667vw;
        max-height: 400px;
        min-height: 210px;
        width: 76.267vw;
        overflow: hidden;
        position: relative;
        overflow: hidden;
    }
    .block4{
        margin-top: 102px;
    }
    .block4 .title {
        margin-bottom: 31px;
    }
    .block4__content{
        position: relative;
    }
    .frame{
        display: none;
        padding-top: 29px;
        padding-bottom: 31px;
        height: 260px;
    }
    .frame:first-child {
        display: block;
        color: #FFFFFF;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .frame__title{
        margin-bottom: 20px;
    }
    .block4__text {
        padding-left: 0px;
        margin-top: 27px;
        flex-direction: row;
        align-items: center;
        border-top: 2px solid white;
        border-bottom: 2px solid white;
    }
    .frames{
        width: 520px;
    }
    .chevron{
        background: url(./assets/icons/chevron.svg);
        background-repeat: no-repeat;
        background-size: 100%;
        width: 12px;
        height: 7px;
        display: block;
        cursor: pointer;
    }
    /* .input_chevron:hover{
        opacity: 0.6;
    } */
    .chevron:hover{
        opacity: 0.6;
        /* background: url(./assets/icons/chevron_hover.svg); */
        /* background-repeat: no-repeat;
        background-size: 100%;
        width: 12px;
        height: 7px;
        display: block; */
    }
    .direction{
        width: 31.33vw;
        height: 75%;
        background-color: #08080871;
        position: absolute;
        top: 80px;
        z-index: 1;
        opacity: 0;
    }
    .direction:hover{
        opacity: 1;
        transition: .5s;
    }
    .direction_left{
        left: 0;
    }
    .direction_right{
        right: 0;
    }
    .chevrons{
        display: block;
    }
    .chevrons .chevron{
        display: block;
        position: absolute;
        top: 45%;
        z-index: 2;
        width: 30px;
        height: 30px;
    }
    #chevron_left{
        left: 0px;
        transform: rotate(90deg);
    }
    #chevron_right{
        transform: rotate(-90deg);
        right: 0px;
    }
    .block4 .arrows {
        height: 100%;
        height: 91px;
        width: 24px;
        margin-top: 0px;
    }
    .block5{
        margin-top: 103px;
        letter-spacing: 0.1px;
    }
    .title{
        font-size: 36px;
    }
    .block5__text{
        margin-top: 27px;
        margin-bottom: 0px;
        width: 86.93vw;
    }
    .block5 .title {
        margin-bottom: 31px;
    }
    .form{
        margin-left: 0px;
        margin-top: 16px;
    }
    .block5_input{
        margin-bottom: 46px;
        letter-spacing: 1px;
        width: 100%;
    }
    .block5_input ::placeholder{
        letter-spacing: 2.3px;
        width: 100%;
    }
    .warning{
        margin-top: -32px;
    }
    .form_button button {
        margin-top: 30px;
    }
    .form_checkbox {
        margin-top: 25px;
        padding-left: 24px;
    }
    footer{
        padding-top: 44px;
        margin-top: 141px;
    }
    .footer__navigation {
        flex-direction: column;
    }
    .footer__navigation_item{
        margin-bottom: -2px;
    }
    .footer__content{
        flex-direction: column-reverse;
    }
    .footer__content {
        position: relative;
    }
    footer .social{
        width: 110px;
        position: absolute;
        top: 0;
    }
    .mark{
        position: absolute;
        bottom: -72px;
        left: 0;
    }
    .right{
        margin-top: 75px;
    }
    .documents{
        margin-top: 25px;
    }
    .left{
        margin-top: 25px;
    }
    .contacts{
        margin-top: -3px;
    }
    .atank{
        margin-top: 27px;
    }
    footer{
        padding-bottom: 100px;
    }
    .indicator{
        width: 100%;
        display: flex;
        justify-content: center;
        cursor: pointer;
    }
    .dots{
        margin-top: 29.5px;
        margin-left: 10px;
        display: flex;
    }
    .dot{
        width: 10px;
        height: 10px;
        background-color: #3D3D3D;
        margin-right: 10px;
    }
    .dot_active{
        background-color: #FFFFFF;
    }
    .services{
        width: 100%;
    }
    .nav_mobile{
        position: absolute;
        top: 0;
        width: 100%;
        background-color: #080808;
        height: 648px;
        z-index: 3;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        border: none;
        transition: 0.5s;
    }
    .nav_mobile_content{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .nav_mobile ul{
        width: 100%;
        margin-top: -14px;
    }
    .hidden{
        display: none;
    }
    .social_mobile{
        margin-top: 185px;
        margin-bottom: 46px;
        width: 130px;
        display: flex;
        justify-content: space-between;
    }
    .nav_mobile .contacts_mobile p{
        /* font-size: 18px; */
        margin-bottom: 27px;
        text-align: center;
    }
    .nav_mobile .underline{
        border-bottom: 1px solid #FFFFFF;
    }
    .nav_mobile li{
        display: flex;
        align-items: center;
        justify-content: center;
        /* font-size: 18px; */
        height: 65.5px;
    }
    .burger-close{
        background-color: transparent;
    }
    /* // tariffs-mobile */
    .tariffs_block1_img_colomn{
        overflow: hidden;
        order: -1;
        /* height: 500px; */
        /* height: 84.267vw;
        height: 700px; */
        /* height: 100%; */
    }
    .tariffs_block1_img_collapse, .booking_form_image{
        display: none;
    }
    /* .tariffs_block1_img1{
        height: 250%;
        height: 84.267vw;
        max-width: unset;
        width: 100%;
    } */
    .tariffs_block1 img{
        max-width: unset;
        /* height: 84.267vw;
        height: 316px; */
    }
    .tariffs_block1{
        margin-top: 54px;
        overflow: hidden;
    }
    .tariffs_block1 .heading{
        margin-top: 16px;
        margin-bottom: 16px;
    }
    /* .tariffs_block1 .column{
        height: 100%;
    } */
    .excurssions_btn{
        margin-top: 30px;
    }
    .tariffs_block1 .block1__footer_social{
        margin-top: 31px;
    }

    .tariffs_slider_body{
        flex-direction: column;
        /* height: 300px;
        overflow: hidden; */
    }
    .tariffs_slider_menu_mobile{
        display: block;
        padding-bottom: 31px;
        margin-bottom: 31px;
        border-bottom: 2px solid #9B9B9B;
    }
    .tariffs_slider_menu{
        display: none;
    }
    .tariffs_slider_indicator{
        flex-direction: row;
        width: auto;
        /* align-items: center; */
    }
    .tariffs_slider_dots{
        flex-direction: row;
    }
    .tariffs_slider_indicator{
        height: auto;
    }
    .tariffs_slider_indicator .arrow{
        display: none;
    }
    .tariffs_slider_dot{
        margin-right: 10px;
        width: 10px;
        height: 10px;
    }
    /* ///// */
    /* .tariffs_slider_content:nth-child(1){
        display: none;
    } */
    .tariffs_slider_content{
        height: 868px;
      

        overflow: scroll;
        width: auto;
    }
    .tariffs_slider_content:first-child{
        display: block;
    }
    .tariffs_slide{
        width: 100%;
    }
    .tariffs_slide img{
        width: 100%;
        /* max-height: 308.41px; */
    }
    .tariffs_block3{
        margin-top: 78px;
    }
    .tariffs_block3_column1{
        display: flex;
        flex-direction: column-reverse;
    }
    .tariffs_form_image{
        margin-top: 0px;
        margin-bottom: 40px;
    }
    .tariffs_block3 .title{
        margin-bottom: 32px;
    }
    .tariffs_block3 .form{
        margin-top: 26px;
    }
    .tariffs_block3 .form_button{
        margin-top: 63px;
    }
    /* // news */
    .news_item{
        flex-direction: column;
    }
    .news_item_img{
        display: none;
    }
    /* // article */
    .article_content ul{
        list-style: none;
        margin-left: 0px;
    }
    /* // contacts */
    .contacts_block1{
        margin-top: 30px;
    }
    .contacts_block1_text{
        flex-direction: column;
    }
    .contacts_block1_text_address{
        margin-bottom: 50px;
    }
    .contacts_block1_text_contacts{
        padding-left: 0px;
    }
    .contacts_block1_text .block1__footer_social{
        margin-bottom: 30px;
    }
    .contacts_block1_text_address, .contacts_block1_text_contacts{
        width: 100%;
    }
    .official_name{
        font-size: 18px;
    }
    /* //// 404 */
    .error_block{
        text-align: center;
        flex-direction: column;
        align-items: center;
    }
    .error_block_right{
        padding-left: 0px;
        margin-top: 40px;
        align-items: center;
    }
    .error_block_right p{
        margin-bottom: 30px;
    }
    .goBack_button{
        margin-top: 30px;
    }

}
